body {
    background-image: url("../images/1lS7grH-san-francisco-wall-paper.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}


#header {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 3;
    background:rgba(71, 71, 71, 0.7);
    color: white;
}

h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
 }

h5 {
    font-family: 'Rubik', sans-serif;
}

a {
    font-family: 'Lato', sans-serif
}

p {
    padding: 10px;
    margin: 5px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
}

#splash {
    margin: auto auto;
}

.progress {
    height: 6px;
    border-radius: 5px;
    width: 35%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.center-label {
    position: relative;
    top: 22vh;
    text-align: center;
    margin:auto auto !important;
    color: white;
    font-family: 'Rubik', sans-serif;

}

.center-label:hover, a:hover {
    animation: text-shadow-drop-center 0.6s ease-out;
    animation-fill-mode: both;
}

#main-col {
    height: 100vh;
    width: 95%;
    margin: 0 2.5%;
}

#main {
    margin: 25vh auto;
    display: none;
    height: 50vh;
    width: 100vw;
    z-index: 1;
    border-radius: 20px;
    background:rgba(71, 71, 71, 0.7);
}

#about-blurb, #portfolio-blurb, #contact-blurb {
    position: relative;
    top:-10vh;
    margin: auto;
    border-radius: 10px;
    color: whitesmoke;
    display: none;
    z-index: 2;
    width: 80%;
}

#portfolio-blurb {
    position: absolute;
    top: 3vh;
    left: 3vw;
    width: 94vw;
    height: 94vw;
}

.portfolio-text {
    height: 100%;
}

#back-button {
    position: relative;
    top: 45px;
    left: -28px;
}

#profile-picture {
    position: relative;
    bottom: 50px;
    right: -80%;
}

.blurb-content {
    background-color: #555;
    border-radius: 10px;
}

.scale-out {
    animation: scale-out-ver-top 0.8s;
    animation-fill-mode: forwards;
}

.scale-in {
    animation: scale-in-ver-top 0.8s;
    animation-fill-mode: forwards;
}

.slide-in-right {
    animation: slide-in-right 0.8s;
    animation-fill-mode: forwards
}

.slide-out-right {
    animation: slide-out-right 0.8s;
    animation-fill-mode: forwards
}
.slide-in-left {
    animation: slide-in-left 0.8s;
    animation-fill-mode: forwards
}

.slide-out-left {
    animation: slide-out-left 0.8s;
    animation-fill-mode: forwards
}
.slide-in-bottom {
    animation: slide-in-bottom 0.8s;
    animation-fill-mode: forwards
}

.slide-out-bottom {
    animation: slide-out-bottom 0.8s;
    animation-fill-mode: forwards
}

@media only screen and (max-width: 600px) {
    #main-container-links {
        position: relative;
        top: -64px;
    }
    #blurbs {
        position: relative;
        top: -50px;
        left: -120px;
        
        /* transform: translate(-50%, -50%); */
    }
}