body {
    background-color: #333;
    height: 100vh;
}

#splash {
    margin: auto auto;
}

.progress {
    height: 6px;
    border-radius: 5px;
    width: 35%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.center-label {
    position: relative;
    top: 50vh;
    text-align: center;
    margin: 0 auto !important;
    color: white;
    transform: translateY(-50%)
}

#main-col {
    height: 100vh;
    width: 95%;
    margin: 0 2.5%;
}

#main {
    display: none;
    height: 100vh;
}